@mixin hover_icon($before, $after) {
    &:before {
        content: '';
        @extend %icon-style;
        width: 15px;
        height: 15px;
        background-image: url($before);
    }

    &:hover {
        &:before {
            content: '';
            @extend %icon-style;
            width: 15px;
            height: 15px;
            background-image: url($after);
        }
    }
}

// Extendable style.
%active-state {
    background-color: $primary-color !important;
    color: $white !important;

    span {
        color: $white;
    }
}

%management-table-icons {
    &:before {
        width: 25px !important;
        height: 25px !important;
        margin: auto;
    }
}

.btn {

    &--active {
        font-weight: bold;
        color: $primary-color;
        background-color: $gray;
    }

    // Element
    &__ff--primary {
        color: $primary-color;
        border: 1px solid $primary-color !important;

        &.active {
            @extend %active-state;
        }

        &:hover {
            @extend %active-state;
        }
    }

    // Variety
    &--ff {
        background-color: $primary-color;
    }

    // Button with Icons
    &.btn-icon {
        display: flex;
        height: 100%;
        line-height: normal;

        &__delete {
            @include hover_icon('../../images/svg/delete_icon_violet.svg', '../../images/svg/delete_icon_white.svg');
        }

        &__deactivate {
            @include hover_icon('../../images/svg/deactivate_icon_violet.svg', '../../images/svg/deactivate_icon_black.svg');
        }

        &__save {
            @include hover_icon('../../images/svg/save_icon_violet.svg', '../../images/svg/save_icon_white.svg');
        }

        &__renew {
            @include hover_icon('../../images/svg/replay_icon_violet.svg', '../../images/svg/replay_icon_white.svg');
        }

        &__adduser {
            @include hover_icon('../../images/svg/add_icon_violet.svg', '../../images/svg/add_icon_white.svg');
        }

        &__edit {
            @include hover_icon('../../images/svg/edit_icon_violet.svg', '../../images/svg/edit_icon_white.svg');
        }

        &__exit {
            @include hover_icon('../../images/svg/exit_icon_violet.svg', '../../images/svg/exit_icon_white.svg');
        }

        &__open-row {
            @include hover_icon('../../images/svg/view_more.svg', '../../images/svg/view_more.svg');
            @extend %management-table-icons;
        }

        &__close-row {
            @include hover_icon('../../images/svg/view_less.svg', '../../images/svg/view_less.svg');
            @extend %management-table-icons;
        }

        &__edit-row {
            @include hover_icon('../../images/svg/table_edit.svg', '../../images/svg/table_edit.svg');
            @extend %management-table-icons;
        }

    }


}
