@mixin include_hover_icon($before, $after) {
    &:before {
        content: '';
        @extend %icon-style;
        width: 15px;
        height: 15px;
        background-image: url($before);
    }

    &:hover {
        &:before {
            content: '';
            @extend %icon-style;
            width: 15px;
            height: 15px;
            background-image: url($after);
        }
    }
}

.btn {

    // Element
    &__ff--primary {
        color: $primary-color;
        border: 1px solid $primary-color !important;

        &:hover {
            background-color: $primary-color !important;
            color: $white !important;

            span {
                color: $white;
            }
        }
    }

    // Variety
    &--ff {
        background-color: $primary-color;
    }

    // Button with Icons
    &.btn-icon {
        display: flex !important;
        height: 100%;
        line-height: normal;

        &__delete {
            @include include_hover_icon('../../images/svg/delete_icon_violet.svg', '../../images/svg/delete_icon_white.svg');
        }

        // &__diactivate {
        //     @include include_hover_icon('../../images/svg/delete_icon_violet.svg', '../../images/svg/delete_icon_white.svg');
        // }

        &__save {
            @include include_hover_icon('../../images/svg/save_icon_violet.svg', '../../images/svg/save_icon_white.svg');
        }

        &__adduser {
            @include include_hover_icon('../../images/svg/add_icon_violet.svg', '../../images/svg/add_icon_white.svg');
        }

        &__edit {
            @include include_hover_icon('../../images/svg/edit_icon_violet.svg', '../../images/svg/edit_icon_white.svg');
        }

        &__exit {
            @include include_hover_icon('../../images/svg/exit_icon_violet.svg', '../../images/svg/exit_icon_white.svg');
        }

    }


}
