/**
Contains the base style and default variable values.
**/

// Base Icon Style.
%icon-style {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.is-invalid {
    border: thin solid #dc3545 !important;
}