/**
Contains the base style and default variable values.
==================================================================
This may include the ff:
1. Extendable/ Parent style.
2. GLobal Styling.
==================================================================
**/

// Base Icon Style.
%icon-style {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.default-icon-style {
    @extend %icon-style;
}

hr {
background: $primary-color;
}

/**
* Form input error.
*/
.is-invalid {
    border: thin solid #dc3545 !important;
}

// Override the default media query bootstrap.
.container{

    @include media('>=LGdesktop') {
        max-width: $LgDesktop-max-width;
    }

    @include media('>=desktop') {
        max-width: $Desktop-max-width;
    }

    // 119px Down
    @include breakpoint-down-width(1199px) {
        max-width: calc(100% - 25px);
    }

    &--new-customer,
    &--customer-visits,
    &--new-package {
        @include media('>=desktop') {
            max-width: 600px;
        }
    }
}

button {

    &:hover {
        color: $primary-color !important;
        font-weight: bold;
    }

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

