@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
}

// Using the specified Fonts
html,
body {
    font-family: 'RobotoRegular', Fallback, sans-serif;
    font-size: $font-size-base;
}

// Applying Default style for elements.

address,
p {
    font-size: $font-size-base;
}