// Variables are auto imported via cascading.

/**
FORMS
**/
.active-field {
    background-color: $frm-active-field-color;
}


/**
TEXT UTILITIES
**/
.uc-first {
    text-transform: capitalize;
}

.text-bold {
    font-weight: bold;
}

.text-primary {
    color: $primary-color !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-line-through {
    text-decoration: line-through;
}

.text-decoration-none {
    text-decoration: none;
}

.font-15px {
    font-size: $font-size-base;
}


.bg-none {
    background: none;
}

/**
BACKGROUNDS COLORS
**/
.bg-primary {
    background-color: $primary-color !important;
}

/**
BORDERS
**/
.border-primary {
    border-color: $primary-color !important;
}


/**
OVERFLOW
**/
.overflow-y-scroll {
    overflow-y: scroll;
}

.chrome-hide-scroll {
    &::-webkit-scrollbar { width: 0 !important; }
}

/**
HEIGHT
**/
.vh-50px {
    height: 3.125rem;
}

.vh-59 {
    height: 59vh;
}

.vh-40 {
    height: 40vh;
}

/**
WIDTH
**/
.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-400px {
    width: 25rem;
}

.w-33 {
    width: 33%;
}

.w-24 {
    width: 24%;
}

/**
CURSORS
**/
.cursor-pointer {
    cursor: pointer;
}

/**
TOP, LEFT, BOTTOM, RIGHT
**/
.l-0 {
    left: 0;
}

/**
Opacity
**/
.opacity-point5 {
    opacity: .5;
}

/**
CHECKER
**/
.check {
    border: thin solid red;
}

.check-row {
    border: thin solid yellow;
}

.check-col {
    border: thin solid green;
}


/**
Text Animation.
**/
.on-hover-primary {
    color: $black;
    &:hover {
        color: $primary-color !important;
        font-weight: bold !important;
    }
}