/**
TEXT UTILITIES
**/
.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

/**
BACKGROUNDS COLORS
**/
.bg-primary {
    background-color: $primary-color !important;
}


/**
WIDTH
**/
.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}


/**
CHECKER
**/
.check {
    border: thin solid red;
}

.check-row {
    border: thin solid yellow;
}

.check-col {
    border: thin solid green;
}