/**
Holds all the constant value for the application design.
==================================================================
1. Primary Color.
2. Typhography.
3. Colors.
4. Custom Device Max-Width.
==================================================================
**/

// Theme COlors
$primary-color: #463291;

// Typography
$font-size-base: 0.9rem; // 14.4px
$line-height-base: 1.6;

// Forms
$frm-active-field-color: #E9E4FF;

// Colors
$white: #fff;
$black: #000;
$blue: #3490dc;
$indigo: #463291; // primary
$purple: #9561e2;
$pink: #f66d9b;
$red: #E51F00;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #2CE500;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #F3F3F3;


// Containers Max-width
$LgDesktop-max-width: calc(100% - 150px);
