.admin-table {

    thead {

        th {
            font-size: 15px;
            font-weight: normal;
            padding: 5px;
            border-bottom: unset !important;
            text-align: center;
        }

    }

    tbody {
        text-align: center;

        td {
            font-size: 15px;
            font-weight: normal;
        }
    }
}

// Management Service Modal
.mgmt-service-modal {

    .frm-add-visit {
        display: none;
    }

    // button[data-action="addVisitBack"] {
    //     display: none;
    // }

}