.admin-table {

    thead {

        th {
            font-size: 15px;
            font-weight: normal;
            padding: 5px;
            border-bottom: unset !important;
            text-align: center;
        }

    }

    tbody {
        text-align: center;

        td {
            font-size: 15px;
            font-weight: normal;
        }
    }
}
