.admin-branches {
    height: 60vh;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0 !important; }

    .branch {
        font-size: .9rem;

        &__info {

            img {
                width: 40px;
            }
        }

    }
}


@include breakpoint-down-width(1024px) {
   .admin-branches,
   .admin-branches-form {
    height: auto;
    overflow-y: none;
   }
}