// Management Service Modal
.mgmt-service-modal {

    .modal-body {
        max-height: 80vh;
        overflow-y: auto;


        .mgmt-modal-visitation {
            padding: 10px 0px;
        }
    }

    .frm-add-visit {
        display: none;
    }

    .modal-footer {
        justify-content: space-between;
    }

}