.package-status {
    color: $white;
    display: inline-block;
    width: 100px;
    border-radius: 15px;
    text-transform: uppercase;

    &--active {
        background: $green;
    }

    &--expired {
        background: $red;
    }

    // completed
    &--completed {
        background: $indigo;
    }
}